<!---Gets nav--->
{{>nav}}

<!---Displays image in header--->
<div class="header" style="background-image: url({{restaurant.image}}); background-repeat: no-repeat;background-blend-mode: screen; background-size: cover; background-position: {{restaurant.imageCrop}};">
    <h1>{{restaurant.name}}</h1>
</div>

<div class="bookNow">
    <a href="/restaurant_book/{{restaurant.id}}"> 
        <p>Book Now</p>
    </a>
    <a href="/restaurant_rate/{{restaurant.id}}"> 
        <p>{{stars}}</p>
    </a>
</div>


<section>
    <!---Displays menus--->
    {{#each menus}}
        <article class="menu" style="position: relative; min-height: 50rem;">
            <main style="position: absolute; top: 5%; left: 50%; transform: translate(-50%,-5%);">{{this.name}}</main>
            <dl style="position: absolute; top: 20%; left: 50%; transform: translate(-50%,0%); ">
                <!---Displays items--->
                {{#each this.items}}
                    <div>
                        <p>{{this.name}} £{{this.price}}<p>
                    </div>
                {{/each}}
            </dl>
        </article>
    {{/each}}
</section>